<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hamptons.hamptonscalendar"
        versionCode="103" 
        version   = "1.0.3">

    <!-- versionCode is optional and Android only -->

    <name>Hamptons Calendar</name>

    <description>
       Hamptons Event Calendar from Hamptons.com
    </description>

    <author href="https://www.hamptons.com" email="mgoodsell@hamptons.com">
        Hamptons Online
    </author>
	
	<access origin="*" />
	
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/ios/icon-57.png" gap:platform="ios" height="57"  width="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" height="72"  width="72" />
	<icon src="icons/ios/icon-57-2x.png" gap:platform="ios" height="114"  width="114" />
	<icon src="icons/ios/icon-72-2x.png" gap:platform="ios" height="144"  width="144" />
	<icon src="icons/ios/icon-120.png" gap:platform="ios" height="120"  width="120" />
	<icon src="icons/ios/icon-76.png" gap:platform="ios" height="76"  width="76" />
	<icon src="icons/ios/icon-152.png" gap:platform="ios" height="152"  width="152" />

</widget>
